<template>
  <dev class="pagination">
    <button
      v-show="currentPage > 1"
      :disabled="currentPage === 1"
      class="pagination-button pagination-button__prev"
      @click="prevPage"
    >
      <img
        src="@/assets/icons/caret-down.svg"
        alt="caret"
      >
    </button>
    <ul class="pagination-list">
      <li
        v-for="page in pages"
        :key="page"
        :class="{'is-current': page == currentPage}"
        class="pagination-list__item"
        @click="goTo(page)"
      >
        <span>
          {{ page }}
        </span>
      </li>
    </ul>
    <button
      v-show="currentPage !== totalPages"
      :disabled="currentPage === totalPages"
      class="pagination-button pagination-button__next"
      @click="nextPage"
    >
      <img
        src="@/assets/icons/caret-down.svg"
        alt="caret"
      >
    </button>
  </dev>
</template>

<script setup lang="ts">
import { computed } from 'vue'

const props = defineProps({
  totalPages: {
    required: true,
    type: Number
  },
  max: {
    required: false,
    type: Number,
    default: 7
  },
  currentPage: {
    required: true,
    type: Number
  }
})

const emit = defineEmits(['setNewPage'])

const pages = computed(() => {
  let prevRange = 0
  let nextRange = 0

  if (props.totalPages <= props.max)
    return mapPages(1, props.totalPages)

  const even = props.max % 2 === 0 ? 1 : 0
  
  if (props.totalPages < 6) prevRange = Math.floor(props.max / (props.max / 2))
  else prevRange = Math.floor(props.max / 2)
  
  nextRange = props.totalPages - prevRange + 1 + even

  if (props.currentPage >= prevRange && props.currentPage <= nextRange) {
    const start = props.currentPage - prevRange + 2
    const end = props.currentPage + prevRange - 2 - even

    return [1, '...', ...mapPages(start, end), '...', props.totalPages]
  } else if (props.totalPages < 6) {
    return mapPages(1, props.totalPages)
  } else {
    return [
      ...mapPages(1, prevRange),
      ...mapPages(nextRange, props.totalPages)
    ]
  }
})

const mapPages = (start: number, end: number) => {
  const pages = <number[]>[]

  for (start > 0 ? start : 1; start <= end; start++) {
    pages.push(start)
  }

  return pages
}

const nextPage = () => {
  if(props.currentPage < props.totalPages) {
    emit('setNewPage', props.currentPage + 1)
  }
}

const prevPage = () => {
  if(props.currentPage > 1) {
    emit('setNewPage', props.currentPage - 1)
  }
}

const goTo = (page: string | number) => {
  if(page === '...') {
    return
  }
  let newPage = 1;
  if (+page > 1)
    newPage = (+page <= props.totalPages ? +page : props.totalPages)
  
  emit('setNewPage', newPage)
}

</script>

<style lang="scss" scoped>
@import 'Pagination';
</style>
