.pagination {
  display: flex;
  gap: 10px;
  align-items: center;
  &-button {
    border: none;
    outline: none;
    background: rgba(0,0,0,0);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
    &:hover {
      cursor: pointer;
      background: rgba(0,0,0,.1);
    }
    img {
      max-width: 24px;
      user-select: none;
    }
    &__prev {
      img {
        transform: rotate(90deg);
      }
    }
    &__next {
      img {
        transform: rotate(-90deg);
      }
    }
  }
  &-list {
    list-style: none;
    display: flex;
    align-items: center;
    gap: 2px;
    &__item {
      cursor: pointer;
      border-radius: 10px;
      padding: 5px 10px;
      user-select: none;
      &.is-current {
        background: $header-background;
        font-weight: bold;
      }
      &:hover {
        background: rgba(0,0,0,0.1);
      }
    } 
  }
}