$default-row-height: 400px;

.catalog {
  display: flex;
  flex-direction: column;
  justify-content: center;
  &-movies {
    display: grid;
    grid-template-rows: repeat(2, $default-row-height);
    grid-template-columns: repeat(5, 1fr);
    gap: 10px;
  }
  &-pagination {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 30px 0;
  }
  &-error, &-hint {
    width: 100%;
    font-size: 32px;
    text-align: center;
    padding: 16px;
    
  }
  &-error {
    color: coral;
  }

  @media screen and (max-width: $breakpoint-md) {
    &-movies {
      grid-template-rows: repeat(4, min($default-row-height, 1fr));
      grid-template-columns: repeat(3, 1fr);
    }
  }
}