<template>
  <div class="catalog">
    <div
      v-if="movies.length"  
      class="catalog-movies"
    >
      <Movie
        v-for="movie in movies"
        :key="movie.imdbID"
        :movie="movie"
      />
    </div>
    <div
      v-if="movies.length"
      class="catalog-pagination"
    >
      <Pagination
        :total-pages="totalPages"
        :current-page="currentPage"
        @setNewPage="setNewPage"
      />
    </div>
    <div
      v-if="error"
      class="catalog-error"  
    >
      {{ error }}
    </div>
    <div
      v-if="!movies.length && !error"
      class="catalog-hint"
    >
      Please, specify a movie name
    </div>
  </div>
</template>

<script setup lang="ts">
import { storeToRefs } from 'pinia'
import Movie from '@/components/Movie/Movie.vue'
import Pagination from '@/components/Pagination/Pagination.vue'
import { useMovies } from '@/stores/movies/movies'

const moviesStore = useMovies()
const { currentPage, error, movies, totalPages } = storeToRefs(moviesStore)

const setNewPage = (page: number) => currentPage.value = page
</script>

<style lang="scss" scoped>
@import 'Catalog';
</style>
