<template>
  <div class="profile">
    <img
      class="profile-icon"
      src="@/assets/icons/profile.svg"
      alt="profile icon"
    >
    <p class="profile-name">
      Alexander Borisenko
    </p>
    <img
      class="profile-caret"
      src="@/assets/icons/caret-down.svg"
      alt="profile caret"
    >
  </div>
</template>

<style lang="scss" scoped>
@import 'Profile';
</style>
