.search-input-wrapper {
  width: 100%;
  margin: 0 20px;
  position: relative;
  .search-input {
    width: 100%;
    min-width: 100px;
    padding: 5px 10px;
    font-size: 18px;
    line-height: 21px;
    border: none;
    outline: none;
    border-radius: 5px;
    &:focus {
      outline: 2px solid rgba(0,0,0,.2)
    }
  }
  .found-movies {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-55%);
    color: $helper-text-color;
    user-select: none;
    pointer-events: none;
  }
}