<template>
  <div class="search-input-wrapper">
    <input
      v-model.trim="searchText"
      class="search-input"
      type="text"
      @keydown.enter="search"
    >
    <span
      v-if="movies.length > 0"
      class="found-movies"
    >
      Found {{ totalMovies }} movie(s)
    </span>
  </div>
</template>

<script setup lang="ts">
import { useDebounceFn } from '@vueuse/core'
import { storeToRefs } from 'pinia'
import { ref, watch } from 'vue'
import { useMovies } from '@/stores/movies/movies'

const moviesStore = useMovies()
const { movies, totalMovies } = storeToRefs(moviesStore)
const searchText = ref('')

const search = useDebounceFn(() => moviesStore.searchMovies(searchText.value), 500)

watch(searchText, search)
</script>

<style lang="scss" scoped>
@import 'SearchBar';
</style>
