<template>
  <header>
    <div class="wrapper">
      <p class="logo">
        Movie Catalog
      </p>
      <SearchBar />
      <Profile />
    </div>
  </header>
</template>

<script setup lang="ts">
import Profile from '@/components/Profile/Profile.vue'
import SearchBar from '@/components/SearchBar/SearchBar.vue'
</script>

<style lang="scss" scoped>
@import 'Header';
</style>
