header {
  background: $header-background;
  .wrapper {
    max-width: 1440px;
    margin: 0 auto;
    width: 100%;
    padding: 16px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    .logo {
      white-space: nowrap;
      font-size: 28px;
      font-weight: bold;
    }
  }

  @media screen and (max-width: $breakpoint-md) {
    .wrapper {
      flex-direction: column;
      gap: 10px;
    }
  }
}