.movie {
  display: flex;
  flex-direction: column;
  gap: 10px;
  border: 2px solid $header-background;
  border-radius: 6px;
  overflow: hidden;
  padding: 5px;
  &-poster {
    width: calc(100% + 10px);
    height: 100%;
    max-height: 50%;
    object-fit: contain;
  }
  &-title {
    font-size: 18px;
    line-height: 1;
    font-weight: bold;
  }
  &-type {
    font-size: 14px;
  }
  &-id {
    font-size: 12px;
    color: $helper-text-color;
    line-height: 1;
  }

  @media screen and (max-width: $breakpoint-md) {
    &-title {
      font-size: 16px;
    }
  }
}