<template>
  <div class="movie">
    <img
      class="movie-poster"
      :src="moviePoster"
      :alt="movie.Title"
    >
    <p class="movie-title">
      {{ movie.Title }} ({{ movie.Year }})
    </p>
    <div class="movie-type">
      {{ movie.Type }}
    </div>
    <p class="movie-id">
      {{ movie.imdbID }}
    </p>
  </div>
</template>

<script setup lang="ts">
import { computed, PropType } from 'vue'
import { Movie } from '@/stores/movies/types'

const props = defineProps({
  movie: {
    required: true,
    type: Object as PropType<Movie>
  }
})

const moviePoster = computed(() =>
  props.movie.Poster !== 'N/A'
    ? props.movie.Poster
    : 'https://placehold.co/300x350')
    
</script>

<style lang="scss" scoped>
@import 'Movie';
</style>
