<template>
  <Header />
  <main>
    <Home />
  </main>
</template>

<script setup lang="ts">
import Header from '@/components/Header/Header.vue'
import Home from '@/views/Home/Home.vue'
</script>

<style lang="scss" scoped>
main {
  height: 100%;
  padding: 16px;
  max-width: 1440px;
  margin: 0 auto;
}
</style>
